body {
  background-image: url('https://www.universityofcalifornia.edu/sites/default/files/styles/article_default_banner/public/brain-blue-yellow.jpeg?h=2bacc77b&itok=9jL4XBGT');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-steel {
  background-color: #171c1f;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #171c1f;
  padding: 10px 20px;
  border: 1px solid #171c1f;
  border-radius: 12px;
  margin-bottom: 20px;
}

.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.button {
  min-height: 40px;
  background-color:#2dacbd;
  color: #fff;
  border: 2px solid #3d3f3d;
  border-radius: 12px;
}
