{% extends "layout.html" %}
{% block content %}
<div class="about-section">
    <h1 class="content-section" style="text-align:center">About Us</h1>
    <p class="content-section" style="font-size: 20px">The Mental Health Blog started as a local project for users to share their concerns in a safe environment with other users.
        Many high school and college students have struggled with stress throughout school, and we want to reduce the affects of 
        stress and anxiety by creating this blog. Users are able to share their issues and receive relevant answers and help that 
        can really make a difference in their lives. Our info page contains many strategies on how users can releave their stress 
        and keep a healthy mind.
    </p>
    <img class="content-section" src="https://neurosciencenews.com/files/2023/06/med.jpg" width="725" 
    height="450" />
</div>
{% endblock content %}
