{% extends "layout.html" %}
{% block content %}
<div class="about-section">
  <h1 class="content-section" style="text-align:center">Announcements</h1>
  <h3 class="content-section"> DEPLOYMENT (7/23/2023)
    <p class="content-section" style="font-size: 20px"> 
      The Mental Health Blog initially deploys August 1, 2023. Use our Helpful Articles & Stories page 
      for initial mental health concerns, as our resources aid users. Be sure to create and account
      in order to create personal posts on the blog with any relevant questions/comments. Read about the 
      orirgin of the Mental Health Blog on the About Us page. Feel free to contact us on the Contact Us
      page!
    </p>

  </h3>
</div>
{% endblock content %}