{% extends "layout.html" %}
{% block content %}
<div class="about-section">
    <h1  class="content-section" style="text-align:center">Contact Us</h2>
  <div class="row">
    <div class="column">
      <div >
        <div class="content-section">
          <h2>Vansh Shah</h2>
          <p class="title">Founder</p>
          <p>Hi, I'm Vansh Shah and I am a rising Senior at Walton High School. 
            I enjoy sports, engineering, and computer science.
            I have been practicing meditation since I was around 8 years old,
            and I hope to share my experiences with the world.
          </p>
          <p>Email: vanshashah@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}